body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.title{
    color: #b92b27;
}
.half-width{
    width: 50%;
    padding: 5% 10%;
}
.half-width img{
    width: 426px;
}
#top-banner{
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
    padding-left: 2%;
    border-left: 4px solid;
    border-radius: 12px;
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(#00B4DB,#0083B0);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
h2{
  font-size: 36px;  
}
.flex-container{
    display: flex;
}
.mission-title{
    text-align: center;
    font-size: 45px;
}
.mission-area{
    box-sizing: border-box;
    border-radius: 26px;
    margin: 5% 5%;
    width: 360px;
    padding: 10px 20px;
}
.mission-area img{
    width: 141px;
}
.develop img{
    width: 400px;    
    }
#mission{
    background-color: antiquewhite;
}
#vision{
    background-color: lightcyan;
}
#goal{
    background-color: darksalmon;
}
.learning-technology{
    text-align: center;
}
footer{
    text-align: center;
    background-color: black;
    height: 177px;
    padding: 20px 20px;
}
footer h1{
    font-family: "Lobster", cursive;
    color: rgb(255, 255, 255);
    padding-top: 50px;
}
footer h1 span{
    color: rgb(220, 20, 60);
}
footer p{
    color: rgb(255, 255, 255);
    font-size: 14px;
}


