body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* section{ */
    /* display: flex; */
    /* height: 500px;
    padding-bottom: 100px; */
/* } */
.title{
    color: #b92b27;
}
.half-width{
    width: 50%;
    padding: 5% 10%;
}
.half-width img{
    width: 50%;
}
#top-banner{
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
    padding-left: 2%;
    border-left: 4px solid;
    border-radius: 7px solid;
}
/* #top-banner p{
    font-size: 60px;
} */
.link-button{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(#00B4DB,#0083B0);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.flex-container{
    display: flex;
    /* margin: 10px0px; 
     padding-bottom: 100px; */
}
.mission-title{
    text-align: center;
    font-size: 45px;
}
.mission-area{
    box-sizing: border-box;
    border-radius: 26px;
    margin: 5% 5%;
    height: 376px;
    width: 360px;
    padding-left: 20px;
}
.mission-area img{
    height: 141px;
    width: 141px;
}
#mission{
    background-color: antiquewhite;
}
#vision{
    background-color: lightcyan;
}
#goal{
    background-color: darksalmon;
}
footer{
    text-align: center;
    background-color: black;
    height: 177px;
    padding: 20px 20px;
}
footer h1{
    font-family: "Lobster", cursive;
    color: rgb(255, 255, 255);
    padding-top: 50px;
}
footer h1 span{
    color: rgb(220, 20, 60);
}
footer p{
    color: rgb(255, 255, 255);
    font-size: 14px;
}